:root {
    --black: #333333;
    --gray: #666666;
    --main: #A100FF;
    --font: 16px;
    --white: #ffffff;
}

*,
 ::after,
 ::before {
    box-sizing: border-box
}

.animate {
    visibility: hidden;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: var(--font);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--black);
    text-align: left;
    background-color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    ;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.loading * {
    transition: none!important;
}

body.loading .modal {
    transition: none!important;
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0!important
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

abbr[data-original-title],
abbr[title] {
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
    cursor: help;
    border-bottom: 0;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none
}

address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 1rem
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin-bottom: 0
}

dt {
    font-weight: 700
}

dd {
    margin-bottom: .5rem;
    margin-left: 0
}

blockquote {
    margin: 0 0 1rem
}

b,
strong {
    font-weight: bolder
}

small {
    font-size: 80%
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

a {
    color: #A100FF;
    text-decoration: none;
    background-color: transparent
}

a:hover {
    color: #A100FF;
    text-decoration: none
}

a:not([href]):not([class]) {
    color: inherit;
    text-decoration: none
}

a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none
}

code,
kbd,
pre,
samp {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em
}

pre {
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
    -ms-overflow-style: scrollbar
}

figure {
    margin: 0 0 1rem
}

img,
picture {
    vertical-align: middle;
    border-style: none;
    width: 100%;
    height: auto;
}

svg {
    overflow: hidden;
    vertical-align: middle
}

table {
    border-collapse: collapse
}

caption {
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #6c757d;
    text-align: left;
    caption-side: bottom
}

th {
    text-align: inherit
}

label {
    display: inline-block;
    margin-bottom: .5rem
}

button {
    border-radius: 0
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline: none;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

[role=button] {
    cursor: pointer
}

select {
    word-wrap: normal
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    padding: 0;
    border-style: none
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

textarea {
    overflow: auto;
    resize: vertical
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0
}

legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal
}

progress {
    vertical-align: baseline
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    outline-offset: -2px;
    -webkit-appearance: none
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

 ::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button
}

output {
    display: inline-block
}

summary {
    display: list-item;
    cursor: pointer
}

template {
    display: none
}

[hidden] {
    display: none!important
}

html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* .no-margin {
    margin: 0;
}

.tour-start {
    font-family: 'Inter', sans-serif;
    height: 100vh;
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.text-main {
    color: var(--main);
}

.title-h1 {
    font-weight: 900;
    font-size: 4vw;
    line-height: 0.9;
    letter-spacing: -0.03em;
}

.logo-img {
    max-width: 6vw;
    margin-bottom: 1rem;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.link-icon {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main);
    border-radius: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.link-icon img {
    max-width: 2rem;
}

.linl-wrapper,
.tour-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tour-link {
    margin-left: 10%;
    color: inherit;
    margin-top: 1rem;
    position: relative;
}

.link-title {
    transition: 200ms ease;
    font-weight: 500;
    transition-property: color;
    font-size: 2vw;
    line-height: 0.9;
    padding-bottom: 0rem;
    margin: 0;
    padding-bottom: 4rem;
}

.select-slider {
    max-width: 60%;
    flex: 0 0 60%;
}

.slider-inner {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
}

.slider-slide {
    flex: 0 0 50%;
    max-width: 50%;
    transition: 500ms ease-in;
    transition-property: margin;
}

.select-animation {
    flex: 0 0 50%;
    padding-left: 10%;
}

.progress {
    margin-left: -50%;
}

.select-content {
    display: flex;
    overflow: hidden;
}

.slide-title {
    font-size: 2vw;
    font-weight: 600;
    color: var(--white);
    text-shadow: 1px 1px 0px var(--black), 0 1px 0px var(--black), -1px 0 0px var(--black), 0 -1px 0px var(--black);
    line-height: 0.9;
    white-space: nowrap;
    transition: 200ms ease-in;
    transition-property: text-shadow, color;
}

.active-slide .slide-title {
    text-shadow: 1px 1px 0px transparent, 0 1px 0px transparent, -1px 0 0px transparent, 0 -1px 0px transparent;
    color: var(--main);
}

.slide-descr {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 2rem;
    margin-top: 1rem;
}

.slide-text {
    font-size: 0.8rem;
}

.slide-img {
    width: 1.25rem;
    height: 1.25rem;
    flex: 0 0 1.25rem;
    margin-right: 0.5rem;
}

.slide-text p {
    margin-bottom: 0.75rem;
    line-height: 1.2;
    font-weight: 600;
}

.slide-inner {
    padding: 1rem;
    user-select: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: 200ms ease-in;
    transition-property: ;
}

.slider-slide:not(.active-slide) .slide-inner:hover {
    background: #F5F6FA;
}

.slider-slide:not(.active-slide) .slide-inner:hover .slide-title {
    color: #F5F6FA;
}

.place-img-wrapper {
    position: relative;
}

.place-img-wrapper::before {
    content: '';
    display: table;
    box-sizing: border-box;
    width: 0;
    height: 100%;
    padding-bottom: 30%;
}

.place-img {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
}

.place-house {
    max-width: 55%;
}

.place-bg {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.place-img {
    display: none;
}

.place-img.active-img {
    display: flex;
    animation: fadaUp ease-in 600ms forwards;
}

.place-img.proces {
    animation: fadaDown ease-in 600ms forwards;
}

@keyframes fadaUp {
    0% {
        opacity: 0;
        transform: translate(0, 80%);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0%);
    }
}

@keyframes fadaDown {
    0% {
        opacity: 1;
        transform: translate(0, 0%);
    }
    100% {
        opacity: 0;
        transform: translate(0, 80%);
    }
}